* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color: rgb(12, 11, 39);
  }
    a:link {
            text-decoration:none;
      }

    a:hover {
          text-decoration: underline;
      }

    

    h1 {
          font-size: 1.8rem;
          display: flex;
          /*justify-content: space-evenly;*/
          flex-direction: row;
          flex-wrap: no-wrap;
          line-height: 1.2;
    }

    .smaller {
      font-size: 0.5 rem;
      text-align: center;
      text-align: ;       
      background-color: black;
}
    ul {
        font-size: 1.8rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        list-style: none;
        align items: flex-start;
    }

    h2 {
      font-size: 1.1rem;
      line-height: 1.1;
      display: inline;
      text-align: center;
      width: 100px;
      padding: 2px;
      border-radius: 2px;
}

    section {
      display: flex;
      flex-flow: column;
    }
   
    p {
      display: flex;
      line-height: 1.2;
      /* padding: top -30px; */
}
.bookmark{
      display: flex;
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 3rem;
      flex-direction: row-reverse;
      color: black;
      align-self: border-right: ;
      padding: 5px;   
      background-color: lightgray;
      z-index: 1;
}
.shape1 {
      /* display: flex; */
      border: 2px solid red;
      /* width: 50 px; */
      height: 225 px;
      clip-path: polygon(
            0 0,
            100% 0%,
      100% 100%,
      50% 70%,
      0% 100%,
      0% 0%);
      position: absolute;
      top: -30px;
      right: 12px;
      font-size: 2rem;
      writing-mode: vertical-lr;
      text-orientation: upright; 
      ;
      color: black;
      padding: 5px;   
      background-color: orange;
      z-index: 2;
}
.shape {
      /* display: flex; */
      border: 2px solid red;
      width: 150 px;
      height: 225 px;
      clip-path: polygon(
            0 0,
            100% 0%,
      100% 100%,
      50% 70%,
      0% 100%,
      0% 0%);
      position: absolute;
      top: -30px;
      right: 12px;
      font-size: 4rem;
     
      color: black;
      padding: 5px;   
      background-color: orange;
      z-index: 2;
}

.questioncard {
      display: flex;
      position: relative;
      width: 80 %;
      color: black;
      border: 15px dashed black;
      border-radius: 5px;
      flex-flow: column;
      padding: 5px;
      background-color: lightgray;
      box-shadow: 10px 5px 5px white;;
}
.question {
      color: black;
      flex-flow: column;
      padding: 5px;
      background-color: lightgray;
}
.answer {
      color: black;
      display: none;
      padding: 5px;
      background-color: lightgray;
}

footer {
      position: fixed;
      bottom: 10px;
      width: 100%;
      padding: 5px;
      color: orange;
      background-color: rgb(12, 11, 89);
      display: flex;
      /*justify-content: space-evenly;*/
      flex-direction: column;
      align items: flex-start;
      z-index: 2;
}


nav {
      width: 90%;
      color: orange;
      background-color: rgb(12, 11, 89);
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align items: flex-start;
      gap: 10px 36px;
    
}


.copyright {
      flex-direction: column;
      align-self: last baseline;
      font-size: 0.7rem;
      background-color: rgb(12, 11, 89);
      padding: 5px 20px 0 5px;
}

.contact {
    display: hidden;
    font-size: 0.9rem;
    /* text-align: center;
    background-color: darkblue; */
}

.giant{
      color: black;
      /* font-size: 15rem; */
      line-height: 1;
      display: inline;
      text-align: center;
      display: inline;
      background-color: darkblue;
}